<div class="main-background">
  <nav class="navbar navbar-dark darker-background aleo mb-3 ">
    <div class="container-fluid  me-4 ms-4">
      <a class="navbar-brand text-color">Contact Manager</a>
      <form class="d-flex" role="search">
        <button type="button" routerLink="edit" class="btn btn-primary me-2" routerLink="">
          List contacts
        </button>
        <button type="button" class="btn btn-success" routerLink="add">Add Contact</button>
      </form>
    </div>
  </nav>

  <div class="container aleo">
    <router-outlet></router-outlet>
  </div>
</div>
